---
permalink: search.html
layout: base
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search NBA Player</title>
</head>
<body>
    <h1>Search NBA Player</h1>
    <form action="{{site.baseurl}}/nba_stats" method="post">
        <label for="player_name">Player Name:</label>
        <input type="text" name="player_name" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>


