$main-font: 'Lobster', cursive;
$font-color: rgb(255, 255, 255);

header{
    background-color: rgb(96, 126, 226);
}
.wrapper{
    background-color: rgb(96, 126, 226);
}
body{
    background-color: rgb(96, 126, 226)!important;
}
img {
    background-image: url("https://images2.alphacoders.com/112/1124066.jpg")!important;
    background-size: cover;
    background-position: center
}
footer {
    display: none!important;
}
