$main-font: 'Lobster', cursive;
$font-color: rgb(255, 255, 255);

header{
    background-color: rgb(43, 111, 222);
}
.wrapper{
    background-color: rgb(43, 111, 222);
}
body{
    background-color: rgb(43, 111, 222)!important;
}
footer {
    display: none!important;
}
